@model project.Models.Sheep

@{
    ViewData["Title"] = "詳情";
}

<h1>詳情</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-controller="Home" asp-action="Index">返回列表</a>
</div>
