@model Kcg.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertEmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertEmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateEmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateEmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Click)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Click)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
