@model project.Models.Sheep

@{
    ViewData["Title"] = "刪除";
}

<h1>刪除</h1>

<h3>確定刪除該筆資料?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
		<input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
